@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html{
    
    font-family: 'Raleway',sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(252, 252, 178);;
  }
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

.logo1{
    width: 100%;
    height: 8rem;
    background-color: white
    ;
}
.homePageIntro{
    text-align: center;
}

.welcomeMessageSpacing{
    background-color: #CBD18F;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}




.welcomeMessageSpacing img{
    float:right;
    border-bottom-right-radius: 5%;
    border-top-right-radius: 5%;
    width: 40%;
    
}
}
    
}

.citizen{
  background-color: #CBD18F;
  border-radius: 5%;
  text-align: center;
  padding: 10px;
  margin-bottom: 3%;
}

.titles{
  background-color: #3A6B35;
  border-radius: 5%;
  padding: 2em;
  color: rgb(252, 252, 178);
  text-align: center;
}

.careServices{
display: grid;
gap: 1rem;
align-items: center;

font: 500 100%/1.5 system-ui;
}


.careServices p{
    padding-left: 2%;
    
}




.colums{
  background-color: #CBD18F;   
  display: inline-block;
  
}


.colum{

    background: #CBD18F;
    
    
}

  
/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #3A6B35;
    font-family: Arial;
    
  }
  
  /* Links inside the navbar */
  .navbar a {
    
    font-size: 16px;
    color: rgb(252, 252, 178);
    text-align: center;
    margin-left: 10px;
    text-decoration: none;
    margin: 10px;
    padding: auto;

    
  }
  
  /* The dropdown container */
  .dropdown {
    display: inline-flex;
    overflow: hidden;
    
    
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: rgb(252, 252, 178);
    padding: 14px 14px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #3A6B35;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #CBD18F;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #CBD18F;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
  .column {
    float: left;
    width: 33.33%;
    background-color: #CBD18F;
    text-align: center;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }

  .footer{
      background-color: #CBD18F;
  }